/*.bin
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/stamp-h1
/ap_include.am
/pre-eng-cym.t1x
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*-*.prob
/test/*-output.txt
