* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-cy-en.cy-en.dix.xml -text
/apertium-cy-en.cy-en.t1x -text
/apertium-cy-en.cy-en.t2x -text
/apertium-cy-en.cy-en.t3x -text
/apertium-cy-en.cy.dix.xml -text
/apertium-cy-en.en-cy.t1x -text
/apertium-cy-en.en-cy.t2x -text
/apertium-cy-en.en-cy.t3x -text
/apertium-cy-en.en.dix.xml -text
/apertium-cy-en.post-en.dix -text
/apertium-cy-en.symbols.xml -text
/autogen.sh -text
/configure.ac -text
/cy-en.prob -text
/en-cy.prob -text
/modes.xml -text
